{% extends 'student/base.html' %} {% load static %}

{% block title %}{{request.user.email}} | Student in DadamLive{% endblock %}

{% block heading %}Dashboard{% endblock %}

{% block css %}{% endblock %}

{% block extra_js %}{% endblock %}

{% block main_body %}   
      
      <div class="row">
        {% for e in enrolments %}
        <div class="col-md-4">
          <a href="{% url 'view_course_student' course_id=e.course.id %}">
            <div class="card card-chart">
              {% if e.course.image %}
              <img src="{{e.course.image.url}}">
              {% else %}
              <img src="{% static 'images/demo.jpg' %}">
              {% endif %}
              <div class="card-body">
                <h4 class="card-title">{{e.course.courseName}}</h4>
                <p class="card-category">Enroled {{e.enrolled_on}}</p>
              </div>
              <div class="card-footer">
                <div class="stats" style="color: purple;">
                  Click to view more...
                </div>
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
{% endblock %}


{% block left_panel %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'dashboardStudent' %}">
      <i class="material-icons">dashboard</i>
      <p>Dashboard</p>
    </a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="{% url 'my_courses' %}">
      <i class="material-icons">content_paste</i>
      <p>My courses</p>
    </a>
  </li>
  <li class="nav-item ">
    <a class="nav-link" href="{% url 'view_profile_st' %}">
      <i class="material-icons">person</i>
      <p>View Profile</p>
    </a>
  </li>
{% endblock %}