{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Face recognition App</title>
    <link rel="stylesheet" href="{% static 'facedetection/css/style.css' %}" />
  </head>
  <body>
    <header>Face recognition in the browser using Javascript</header>
    <div class="container">
      <video id="video" height="700" width="700" autoplay muted></video>
    </div>
    <!-- <div class="result-container">
      <div id="emotion">Emotion</div>
      <div id="gender">Gender</div>
      <div id="age">Age</div>
    </div> -->

    <script src="{% static 'facedetection/js/face-api.min.js' %}"></script>
    <script src="{% static 'facedetection/js/main.js' %}"></script>
  </body>
</html>