{% extends 'faculty/base.html' %} {% load static %}

{% block title %}{{request.user.email}} | Faculty in DadamLive{% endblock %}

{% block heading %}Dashboard{% endblock %}

{% block css %}{% endblock %}

{% block extra_js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'Faculty/NewCourse/dashboard.js' %} "></script>
{% endblock %}

{% block main_body %}    
      <div class="row">
        {% for course in courses %}
        <div class="col-md-4">
          <div class="card card-chart">
            {% if course.image %}
            <img src="{{course.image.url}}" data-toggle="modal" data-target="#modal" onclick="setID('{{course.id}}')">
            {% else %}
            <img src="{% static 'images/demo.jpg' %}" data-toggle="modal" data-target="#modal" onclick="setID('{{course.id}}')">
            {% endif %}
              <div class="card-body">
                <h4 class="card-title">{{course.courseName}}<a href="#" data-toggle="modal" data-target="#modal1" class="material-icons" style="float: right;" onclick="setIDName('{{course.id}}','{{course.courseName}}')">edit</a></h4>
                <p class="card-category">Started {{course.created_on}}</p>
              </div>
              <a href="{% url 'view_course' course_id=course.id %}">
              <div class="card-footer">
                <div class="stats" style="color: purple;">
                  Click to view more...
                </div>
              </div>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>


      <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="title">Upload Image</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form method="POST" enctype="multipart/form-data" action="{% url 'upload_course_image' %}">{% csrf_token %}
                  <input type="hidden" name="course_id" id="course_id" class="form-control" required>
                  <h4>Upload an image for the course</h4>
                  <input type="file" name="image"  required><br><br>
                  <button type="submit" class="btn btn-primary">Upload</button>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="title1">Change Course Name</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form method="POST" enctype="multipart/form-data" action="{% url 'dashboardFaculty' %}">{% csrf_token %}
                  <input type="hidden" name="course_id" id="course_id1" class="form-control" required>
                  <h4>Edit Course Name</h4>
                  <input type="text" name="name" class="form-control" id="cour_name" required><br><br>
                  <button type="submit" class="btn btn-primary">Edit</button>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
{% endblock %}


{% block left_panel %}
<li class="nav-item active">
    <a class="nav-link" href="{% url 'dashboardFaculty' %}">
      <i class="material-icons">dashboard</i>
      <p>Dashboard</p>
    </a>
  </li>
  <li class="nav-item ">
    <a class="nav-link" href="{% url 'start_new_course' %}">
      <i class="material-icons">content_paste</i>
      <p>New Course</p>
    </a>
  </li>
  <li class="nav-item ">
    <a class="nav-link" href="{% url 'view_profile_fa' %}">
      <i class="material-icons">person</i>
      <p>View Profile</p>
    </a>
  </li>
{% endblock %}