{% extends 'faculty/base.html' %} {% load static %}

{% block title %}{{request.user.email}} | Faculty in DadamLive{% endblock %}

{% block heading %}{{quiz.quiz_name}}{% endblock %}

{% block css %}
<link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"></style>
{% endblock %}

{% block extra_js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'Faculty/NewCourse/start_new_course.js' %} "></script>
<script type="text/javascript" src="{% static 'Faculty/NewCourse/manage_quiz.js' %} "></script>
<script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% endblock %}

{% block main_body %}    
<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header card-header-warning card-header-icon">
          <div class="card-icon">
            <i class="material-icons">content_copy</i>
          </div>
          <p class="card-category">
            {% if quiz.quizHeld %}
            Assign Marks
            {% else %}
            Upload Questions
            {% endif %}</p>
          <h5 class="card-title">
            <small>
            {% if quiz.quizHeld %}
            Written
            {% else %}
            Both Type
            {% endif %}</small>
          </h5>
        </div>
        <div class="card-footer">
          <div class="stats">
              {% if quiz.quizHeld %}
              <a data-toggle="modal" data-target="#modal4" href="#">Assign Marks</a>
              {% else %}
                <a data-toggle="modal" data-target="#modal0" href="#">Upload File for questions</a>
              {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header card-header-warning card-header-icon">
          <div class="card-icon">
            <i class="material-icons">flaky</i>
          </div>
          <p class="card-category">
            {% if quiz.quizHeld %}
            Calculate Score
            {% else %}
            MCQ
            {% endif %}
          </p>
          <h5 class="card-title">
            {% if quiz.quizHeld %}
            <small>for MCQ</small>
            {% else %}
            <small>Medium Level</small>
            {% endif %}
          </h5>
        </div>
        <div class="card-footer">
          <div class="stats">
              {% if quiz.quizHeld %}
              <a href="{% url 'generate_score' quiz_id=quiz.id %}" onclick="return confirm('It will take a moment to calculate the marks so please wait until it do.')">Generate Score for MCQ's</a>
              {% else %}
                <a data-toggle="modal" data-target="#modal1" href="#">Add MCQ Question to quiz</a>
              {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header card-header-success card-header-icon">
          <div class="card-icon">
            <i class="material-icons">create</i>
          </div>
          <p class="card-category">
            {% if quiz.quizHeld %}
            Web Sources
            {% else %}
            Written
            {% endif %}
          </p>
          <h5 class="card-title"><small>
            {% if quiz.quizHeld %}
            Written
            {% else %}
            Hard Level
            {% endif %}
          </small></h5>
        </div>
        <div class="card-footer">
          <div class="stats">
            {% if quiz.quizHeld %}
              {% if quiz.webDetectionDone %}
                Web Detection Done
              {% else %}
                <a href="{% url 'detect_web_sources' quiz_id=quiz.id %}" onclick="return confirm('It will take few minutes for web detection. Do not close the webpage.')">Detect Web Sources</a>
              {% endif %}
            {% else %}
            <a data-toggle="modal" data-target="#modal2" href="#">Add short/long question to quiz</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header card-header-info card-header-icon">
          <div class="card-icon">
            <i class="material-icons">visibility</i>
          </div>
          <p class="card-category">Quiz Hidder</p>
          <h5 class="card-title">
            <small>
                {% if quiz.hidden %}Hidden{% else %}Visible{% endif %}
            </small></h5>
        </div>
        <div class="card-footer">
          <div class="stats">
            <a href="{% url 'change_quiz_status' quiz_id=quiz.id %}">{% if quiz.hidden %}Unhide Quiz{% else %}Hide Quiz{% endif %}</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p>{{message}}</p>

  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="card">
        <div class="card-header card-header-tabs card-header-primary">
          <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
              <span class="nav-tabs-title">Activity</span>
              <ul class="nav nav-tabs" data-tabs="tabs">
                <li class="nav-item">
                  <a class="nav-link active" href="#mcqs" data-toggle="tab">
                    <i class="material-icons">flaky</i> MCQ Questions
                    <div class="ripple-container"></div>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#writtens" data-toggle="tab">
                    <i class="material-icons">create</i> Written Questions
                    <div class="ripple-container"></div>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#assign" data-toggle="tab">
                    <i class="material-icons">turned_in</i> View Submissions
                    <div class="ripple-container"></div>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="modal" data-target="#modal3" href="#" onclick="get_analysis()">
                    <i class="material-icons">turned_in</i> View Detailed Analysis
                    <div class="ripple-container"></div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <p style="display: none;" id="quiz_id">{{quiz.id}}</p>
        <div class="card-body">
          <div class="tab-content">
            <div class="tab-pane active" id="mcqs">
                <table class="table table-hover">
                    <thead class="text-warning">
                      <th>Question</th>
                      <th>Options</th>
                      <th>Correct Options(0-based indexing)</th>
                      <th>Marking Scheme</th>
                      <th>Maximum Marks</th>
                    </thead>
                    <tbody>
                        {% for each in mcq %}
                        <tr>
                          <td>{{each.question}}</td>
                          <td>{{each.options}}</td>
                          <td>{{each.correct_answers}}</td>
                          <td>
                            {% ifequal each.markingScheme 1 %}
                            Partial Marking
                            {% endifequal %}
                            {% ifequal each.markingScheme 2 %}
                            No Partial Marking
                            {% endifequal %}
                          </td>
                          <td>{{each.maximum_marks}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>        
            </div>
            <div class="tab-pane" id="writtens">
                <table class="table table-hover">
                    <thead class="text-warning">
                      <th>Question</th>
                      <th></th>
                      <th>Maximum Marks</th>
                    </thead>
                    <tbody>
                        {% for each in written %}
                        <tr>
                            <td>{{each.question}}</td>
                            <td></td>
                            <td>{{each.maximum_marks}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>              
            </div>
            <div class="tab-pane" id="assign">
              <table class="table">
                <thead class="text-warning">
                  <th>Student Name</th>
                  <th>Student Email</th>
                  <th>Score</th>
                </thead>
                <tbody>
                  {% for each in submissions %}
                  <tr>
                    <td>{{each.user.first_name}}</td>
                    <td>{{each.user.email}}   </td>
                    <td>{{each.score}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 0 -->
  <div class="modal fade" id="modal0" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Upload Questions</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <h4 style="padding-bottom: 12px"><b>Please follow the instructions to add upload questions in a genunine manner.</b></h4>
            <p style="padding-bottom: 10px">1. Only CSV and EXCEL files are allowed. <a href="{% static 'Sample/upload_questions.xlsx' %}">Sample Excel File</a></p>
            <p style="padding-bottom: 10px">2. There could be multiple columns, there order does not matter.</p>
            <p style="padding-bottom: 10px">3. You can upload both type of questions like Subjective or Objective.</p>
            <p style="padding-bottom: 10px">4. Compulsory Columns are : Question Type(Value can be Subjective or Objective), Question, Maximum Marks(Integer).</p>
            <p style="padding-bottom: 10px">5. For objective questions, options need to be given, so maximum 6 options can be given and column name must be Option1, Option2, ... Option6, one with Correct Option(out of 1-6) and the Marking Scheme(1 for partial and 2 for no partial).</p>
            <p style="padding-bottom: 10px">6. Note: If maximum options in any objective question are 3 for example then there no need to mention Option4-Option6. If there are multiple options correct then separate then with comma(,)</p>

            <form action="{% url 'manage_quiz' quiz_id=quiz.id %}" class="form-inline" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-2">
                    <input type="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" class="" name="file" required>
                </div>
                <input type="hidden" name="question_type" value="3" required>
                <input type="submit" class="btn btn-primary mb-2" value="Upload Questions">
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 1 -->
  <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add a mcq Question to quiz</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h5 style="padding-bottom: 12px"><b>1. Students will be given a question and some options and have to select the option</b></h5>
          <h5 style="padding-bottom: 12px"><b>2. Questions will not be visible to students unless quiz is hided</b></h5>
          <h5 style="padding-bottom: 12px"><b>3. Editing feature for question is not available at this moment and ignore comma in the options</b></h5>
          <h5 style="padding-bottom: 12px"><b>4. Only activated options will be considered<b></h5>

          <form action="{% url 'manage_quiz' quiz_id=quiz.id %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <input type="hidden" name="question_type" value="1" required>
              <div class="form-group">
                <label class="bmd-label-floating">Type the question below</label>
                <textarea class="form-control" name="question_written" id="question_written" rows="4" required></textarea>
              </div>
              <div class="form-group">
                  <label class="bmd-label-floating">Maximum Marks for the question</label>
                 <input type="number" class="form-control" name="max_marks_written" required>
              </div>
              <div class="form-group">
                <label class="bmd-label-floating">Option 1</label>
                <select class="form-control" name="sel1">
                  <option value="1">Deactivated Option</option>
                  <option value="2">Correct Option</option>
                  <option value="3">Incorrect Option</option>
                </select>
                <input type="text" class="form-control" name="opt1" placeholder="Type Option">
              </div>
              <div class="form-group">
                <label class="bmd-label-floating">Option 2</label>
                <select class="form-control" name="sel2">
                  <option value="1">Deactivated Option</option>
                  <option value="2">Correct Option</option>
                  <option value="3">Incorrect Option</option>
                </select>
                <input type="text" class="form-control" name="opt2" placeholder="Type Option">
              </div>
              <div class="form-group">
                <label class="bmd-label-floating">Option 3</label>
                <select class="form-control" name="sel3">
                  <option value="1">Deactivated Option</option>
                  <option value="2">Correct Option</option>
                  <option value="3">Incorrect Option</option>
                </select>
                <input type="text" class="form-control" name="opt3" placeholder="Type Option">
              </div>
              <div class="form-group">
                <label class="bmd-label-floating">Option 4</label>
                <select class="form-control" name="sel4">
                  <option value="1">Deactivated Option</option>
                  <option value="2">Correct Option</option>
                  <option value="3">Incorrect Option</option>
                </select>
                <input type="text" class="form-control" name="opt4" placeholder="Type Option">
              </div>
              <div class="form-group">
                <label class="bmd-label-floating">Option 5</label>
                <select class="form-control" name="sel5">
                  <option value="1">Deactivated Option</option>
                  <option value="2">Correct Option</option>
                  <option value="3">Incorrect Option</option>
                </select>
                <input type="text" class="form-control" name="opt5" placeholder="Type Option">
              </div>
              <div class="form-group">
                <label class="bmd-label-floating">Option 6</label>
                <select class="form-control" name="sel6">
                  <option value="1">Deactivated Option</option>
                  <option value="2">Correct Option</option>
                  <option value="3">Incorrect Option</option>
                </select>
                <input type="text" class="form-control" name="opt6" placeholder="Type Option">
              </div>
              <div class="form-group">
                <label class="bmd-label-floating">Marking Scheme</label>
                <select class="form-control" name="marking_scheme">
                  <option value="1">Partial Marking Scheme - Also consider wrong marked answers (Recommended)</option>
                  <option value="2">Also correct answers must be marked</option>
                </select>
              </div>

              <input type="submit" class="btn btn-primary mb-2" value="Add Question">
          </form>
      </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 2 -->
  <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add a written type question</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <h4 style="padding-bottom: 12px"><b>1. Students will be given a question and have to write the answer using keyboard</b></h4>
            <h4 style="padding-bottom: 12px"><b>2. Questions will not be visible to students unless quiz is hided</b></h4>
            <h4 style="padding-bottom: 12px"><b>3. Editing feature for question is not available at this moment</b></h4>

            <form action="{% url 'manage_quiz' quiz_id=quiz.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="question_type" value="2" required>
                <div class="form-group">
                  <label class="bmd-label-floating">Type the question below</label>
                  <textarea class="form-control" name="question_written" id="question_written" rows="4" required></textarea>
                </div>
                <div class="form-group">
                    <label class="bmd-label-floating">Maximum Marks for the question</label>
                   <input type="number" class="form-control" name="max_marks_written" required>
                  </div>
                <input type="submit" class="btn btn-primary mb-2" value="Add Question">
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 3 -->
  <div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">View Detailed Analysis</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div id="analysis_message"></div>
            <h4 style="padding-bottom: 12px"><b>Browser Switching tells how many student changed his tab or closed chrome.</b></h4>
            <h4 style="padding-bottom: 12px"><b>Multiple Face Detected, No Face Detected - If value is x then it means for x*10 seconds, multiple or no face was detected.</b></h4>
            <h4 style="padding-bottom: 12px"><b>Web Source Detection tells that how much maximum plagiarism was seen from web sources in handwritten questions. It is the average of plagiarism detected in all the questions.</b></h4>
            <table id="myTable">  
              <thead>  
                <tr>  
                  <th>Student Name</th>  
                  <th>Email</th> 
                  <th>Browser Switching</th>
                  <th>Unique IP Address</th>
                  <th>Multiple Face Detected</th>
                  <th>No Face Detected</th>
                  <th>Web Source Used</th>
                </tr>  
              </thead>  
              <tbody></tbody>  
            </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 4 -->
  <div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Assign Marks for Written Questions</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <table id="myTable1">  
              <thead>  
                <tr>  
                  <th>Student Name</th>  
                  <th>Email</th> 
                  <th>Marks Assigned</th>
                  <th>View Submission</th>
                </tr>  
              </thead>  
              <tbody>
                {% for each in submissions %}
                <tr>
                  <td>{{each.user.username}}</td>
                  <td>{{each.user.email}}</td>
                  <td>{% if each.marks_assigned %}Yes{% else %}No{% endif %}</td>
                  <td><a href="{% url 'view_submission' submission_id=each.id %}">View</a></td>
                </tr>
                {% endfor %}
              </tbody>  
            </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

 

{% endblock %}


{% block left_panel %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'dashboardFaculty' %}">
      <i class="material-icons">dashboard</i>
      <p>Dashboard</p>
    </a>
  </li>
  <li class="nav-item ">
    <a class="nav-link" href="{% url 'start_new_course' %}">
      <i class="material-icons">content_paste</i>
      <p>New Course</p>
    </a>
  </li>
{% endblock %}