{% load static %}
<!DOCTYPE html>   
<html>   
<head>  
<title> Faculty Dashboard </title>  
</head>    
<body>     
    <h3>Janab aab mujhe dhyan se padhe -> Course name dete vaqt yeh dhyan rakhe ki ek baar bana hua course aap delete nhi kar sakte for security reasons.</h3>
    <h3>Dusra course ka naam aap repeat nhi kar sakte</h3>
    <h3>tisra abhi ke liye main instructor ek hii hoga jo ki aap. In the future updates ham aapko multiple instructors add karne ka moka denge</h3>
    <h4>Choota aur aakhri ki aapko agar students and TAs add karne hai to dashboard ja ke add kare kripya</h4>

    <form id="course_form">  {% csrf_token %}
        <input type="text" placeholder="Enter new course name" name="course" id="course">  

        <button type="submit" id="course_button">Create New Course</button>   
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript " src="{% static 'Faculty/NewCourse/start_new_course.js' %} "></script>
</body>     
</html>