{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DadamLive Forgot Password Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'LoginPage/main.css' %}">
</head>

<body>
    <div id="form_wrapper">
        <form id="form">  {% csrf_token %}
            <div class="logoName">
                <div id="logo">
                    <img src="{% static 'logo.png' %}" alt="Logo" style="width:50px;height:50px;">
                </div>
                <a href="{% url 'home' %}"><div id="name">
                    <span>D</span>
                    <span>a</span>
                    <span>d</span>
                    <span>a</span>
                    <span>m</span>
                    <span>L</span>
                    <span>i</span>
                    <span>v</span>
                    <span>e</span>
                    <!-- <h1>DadamLive</h1> -->
                </div>
                </a>
            </div>
            <div>
                <h1 style = "color: #9c27b0;">Forgot Password</h1>
            </div>
            <div class="input_container">
                <i class="fas fa-user"></i>
                <input placeholder="Username / Email" type="text" name="useremail" id="useremail" class='input_field'>
            </div>
            <input type="submit" value="Send Verfication Link" id="login_button" class='input_field'>
            <span><a href="{% url 'login_request' %}">Login Instead ? </a></span>
        </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript " src="{% static 'LoginPage/forgot_password.js' %} "></script>
</body>

</html>