{% extends 'student/base.html' %} {% load static %}

{% block title %}{{request.user.email}} | Student in DadamLive{% endblock %}

{% block heading %}Dashboard{% endblock %}

{% block css %}{% endblock %}

{% block extra_js %}{% endblock %}

{% block main_body %}    
    <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12">
          <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
              <div class="card-icon">
                <i class="material-icons">content_copy</i>
              </div>
              <p class="card-category">Courses Enroled in</p>
              <h3 class="card-title">{{total_enrolments}}
              </h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons text-danger">warning</i>
                <a href="javascript:;">Get More Space...</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12">
          <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
              <div class="card-icon">
                <i class="material-icons">store</i>
              </div>
              <p class="card-category">Number of Quizes given</p>
              <h3 class="card-title">{{total_quizes_given}}</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">date_range</i> Last 24 Hours
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-danger card-header-icon">
              <div class="card-icon">
                <i class="material-icons">info_outline</i>
              </div>
              <p class="card-category">other features</p>
              <h3 class="card-title">75</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">local_offer</i> Tracked from Github
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
              <div class="card-icon">
                <i class="fa fa-twitter"></i>
              </div>
              <p class="card-category">Followers</p>
              <h3 class="card-title">+245</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">update</i> Just Updated
              </div>
            </div>
          </div>
        </div>
      </div>
           
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="card">
            <div class="card-header card-header-warning">
              <h4 class="card-title">Quiz History</h4>
              <p class="card-category">This section includes the quizes given by you</p>
            </div>
            <div class="card-body table-responsive">
              <table class="table table-hover">
                <thead class="text-warning">
                  <th>Quiz ID</th>
                  <th>Quiz Name</th>
                  <th>Maximum Marks</th>
                  <th>Your Score</th>
                </thead>
                <tbody>
                  {% for each in submissions %}
                  <tr>
                    <td>{{each.quiz.id}}</td>
                    <td>{{each.quiz.quiz_name}}</td>
                    <td>{{each.quiz.maximum_marks}}</td>
                    {% if each.quiz.hidden %}
                      <td>Not Checked</td>
                    {% else %}
                      <td>{{each.score}}</td>
                    {% endif %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
{% endblock %}


{% block left_panel %}
<li class="nav-item active">
    <a class="nav-link" href="{% url 'dashboardStudent' %}">
      <i class="material-icons">dashboard</i>
      <p>Dashboard</p>
    </a>
  </li>
  <li class="nav-item ">
    <a class="nav-link" href="{% url 'my_courses' %}">
      <i class="material-icons">content_paste</i>
      <p>My courses</p>
    </a>
  </li>
{% endblock %}